Semester3/AdvancedXML/PW1/Ex_05/annuaire.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT annuaire (personne)+>
<!ELEMENT personne (nom,prenom,email+,tel*)>
<!ATTLIST personne type (etudiant | professeur | administration ) "etudiant">
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ATTLIST tel type (fixe | portable) #REQUIRED>