Semester3/AdvancedXML/Examen/Exam 2019/Untitled1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="hell">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="n" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="name" use="prohibited"></xs:attribute>
                        <xs:anyAttribute />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
