Semester2/AppR/WebServices/CustomerClient/xml-resources/web-service-references/CustomerWS/wsdl/localhost_8080/CustomerWS/CustomerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CustomerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/CustomerWS/CustomerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="CustomerWS">
<operation name="delete">
<input wsam:Action="http://services/CustomerWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services/CustomerWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://services/CustomerWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://services/CustomerWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://services/CustomerWS/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://services/CustomerWS/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://services/CustomerWS/addRequest" message="tns:add"/>
<output wsam:Action="http://services/CustomerWS/addResponse" message="tns:addResponse"/>
</operation>
</portType>
<binding name="CustomerWSPortBinding" type="tns:CustomerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWS">
<port name="CustomerWSPort" binding="tns:CustomerWSPortBinding">
<soap:address location="http://localhost:8080/CustomerWS/CustomerWS"/>
</port>
</service>
</definitions>